{% load i18n %}

<div class="scorm-xblock">
    {% if index_page_url %}

    {% if scorm_xblock.has_score %}
    <p>
        <span class="grade">Progreso {{ grade }}%</span>
    </p>
    {% endif %}

    <div class="scorm-content">
        <iframe
            class="scorm-embedded"
            src="{{ index_page_url }}"
            width="{% if scorm_xblock.width %}{{ scorm_xblock.width }}{% else %}100%{% endif %}"
            height="{% if scorm_xblock.height %}{{ scorm_xblock.height }}{% else %}450{% endif %}">
        </iframe>
    </div>
    {% elif message %}
    <p>{{ message }}</p>
    {% endif %}
</div>
